

body {
    background-color: rgba(41, 37, 37, 0.877);
    color: white;
}

h3 {
    cursor: pointer;
}

.container {
    display: flex;
    gap: 20px;
    height: 530px;
}

.left-container,
.right-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
}



.center-container {
    display: flex;
    flex-direction: column;
    flex: 10;
    gap: 10px;
}

.slider-container {
    border: 1px solid white;
    padding: 5px;
}


#slide {
    background: url("1.jpg");
    background-size: 100%;
    background-position: 'center';
    transition: opacity 1s;
}

.slide { 
    height: 450px;
}

.dots-container {
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}